{% extends "base.html" %}

{%- block content -%}
<div class="about">
  <div class="section">
    <h1 class="heading">About Me</h1>
    <p>
    I am currently a Co-Founder and Managing Partner at Real Kinetic where we help teams with cloud, architecture, scale, performance, and management.
    </p>
    <p>
    I am an experienced software engineer, architect, and development manager. I believe in shipping solutions built with good design fundamentals early to accelerate learning and reduce engineering time. I have experience in designing maintainable service-based software platforms. I believe understanding problems from the business and customer perspective is crucial to developing high-value solutions for consumers (users, customers).
    </p>
    <p>
    The majority of my work the past decade has been for SaaS companies and clients. My technical focus has been on service-based architectures running on cloud services (specifically AWS and GCP). On the leadership side, I've focused on good design principles based on systematic thinking. I believe communication skills are critical and an increasing burden is being placed on us as creators to better communicate our systems as they continue to grow in complexity over time. This is the focus of my personal favorite presentation that I've given: <a href="https://www.youtube.com/watch?v=xy3w2hGijhE">What is Happening?: Attempting to Understand Our Systems</a>.
    </p>
    <p>
    In my spare time, I love to read about many topics. My current favorites have been complex systems, philosophy, neuroscience, sociology, economics, and machine learning/AI. I've also been learning functional programming, specifically Haskell and Purescript.
    </p>
    <p>
    I also write, speak and record a podcast. If you're interested in having me present at your event please feel free to reach out by any of the methods below. If you'd like to be a guest on our podcast please contact me as well.
    </p>
    <div>Twitter: <a href="https://twitter.com/lyddonb">@lyddonb</a></div>
    <div>LinkedIn: <a href="https://www.linkedin.com/in/beau-lyddon">beau-lyddon</a></div>
    <div>Email: <a href="mailto:lyddonb@gmail.com">lyddonb@gmail.com</a></div>
  </div>
  <div class="section">
    <h1 class="heading">Work / Resume</h1>
    <div class="resume">
      <h2 class="heading">Resume</h2>
      <div><a href="static/files/resume.pdf">PDF</a> <a href="/static/files/resume.txt">TXT</a></div>
    </div>
  </div>
  <div class="section">
    <h2 class="heading">Code / Projects</h2>
    <div class="projects">
      <div class="code">
        <h4>Github Accounts</h4>
        <ul>
          <li>
            <a href="https://github.com/lyddonb">Personal (lyddonb)</a>
          </li>
          <li>
            <a href="https://github.com/realkinetic">Company (RealKinetic)</a>
          </li>
          <li>
            <a href="https://github.com/beaulyddon-wf">
              Old Work Account (blyddon-wf)</a>
          </li>
          <li>
            <a href="https://github.com/workiva">Former Employer (Workiva)</a>
          </li>
        </ul>
      </div>
      <div>
        <h4>Patents and Projects</h4>
        <ul>
          <li>
            <a href="https://github.com/Workiva/furious">
              Furious - An Asynchronous Workflow Library
            </a>
          </li>
          <li>
            <a href="https://patents.justia.com/patent/20150026230">
              System and Method for Performing Distributed Asynchronous Calculations in a Networked Environment (US: 20150026230)
            </a>
          </li>
          <li>
            <a href="https://patents.justia.com/patent/20160239488">
              Electronic Document Sharing with Asynchronous Processing on Indirect Changes (US: 20160239488)
            </a>
          </li>
          <li>
            <a href="https://github.com/Workiva/frugal">
              Frugal - An extension of Apache Thrift which provides additional functionality
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section">
    <h2 class="heading">Work History</h2>
    <ul class="work">
      <li>
        <strong>Co-Founder and Managing Partner</strong>
        @ <a href="https://www.realkinetic.com">Real Kinetic</a>
        <div class="italic">March 2017 - Present</div>
      </li>
      <li>
        <strong>Senior Director of Architecture</strong>
        @ <a href="https://www.workiva.com">Workiva</a> 
        <div class="italic">January 2011 - March 2017 (6 yr, 3 mo)</div>
      </li>
      <li>
        <strong>Software Engineer</strong>
        @ <a href="https://www.linkedin.com/company/quality-attributes-software/about/">
          Quality Attributes Software</a> 
        <div class="italic">May 2009 - January 2011 (1 yr, 9 mo)</div>
      </li>
      <li>
        <strong>Software Engineer / Architect</strong>
        @ <a href="https://www.efcoforms.com/">EFCO</a> 
        <div class="italic">January 2004 - April 2009 (5 yr, 3 mo)</div>
      </li>
      <li>
        <strong>Software Developer / Freelancer / Consultant</strong>
        <div class="italic">January 2000 - January 2009 (9 yr)</div>
      </li>
    </ul>
    <div class="italic">
      For a more detailed work history please reference my <a href="https://www.linkedin.com/in/beau-lyddon">LinkedIn Profile (linkedin/beau-lyddon)</a>.
    </div>
  </div>
  <div class="section">
    <h2 class="heading">Education</h2>
    <div class="education">
      <a href="https://www.iastate.edu/">
        <img src="static/img/isu-stacked.svg" alt="ISU" />
      </a>
      <div class="info">
        <a href="https://www.iastate.edu/">Iowa State University</a>
        <div>Bachelor's degree, Management Information Systems, General</div>
      </div>
    </div>
  </div>
</div>

{%- endblock -%}
