{% extends "base.html" %}

{%- block content -%}
<div class="contact">
    <h1 class="mt-0 heading">Contact</h1>
    <p>
        If you're interested in having me present at your event please feel free to reach out by any of the methods below. If you'd like to be a guest on our podcast please contact me as well.
    </p>
    <div class="item">
      <i data-feather="twitter"></i>
      <span>Twitter: </span>
      <a href="https://twitter.com/lyddonb">@lyddonb</a>
    </div>
    <div class="item"> 
      <i data-feather="linkedin"></i>
      <span>LinkedIn: </span>
      <a href="https://www.linkedin.com/in/beau-lyddon">beau-lyddon</a>
    </div>
    <div class="item"> 
      <i data-feather="mail"></i>
      <span>Email: </span>
      <a href="mailto:lyddonb@gmail.com">lyddonb@gmail.com</a>
    </div>
    <div class="item">
      <i data-feather="github"></i>
      <span>Github: </span>
      <a href="https://github.com/lyddonb">lyddonb</a>
    </div>
</div>

{%- endblock -%}
