{% extends "base.html" %}

{%- block content -%}

<div class="colflexcontainer">
  <div>
    <h1 class="mt-0 heading">Writing</h1>
  </div>
  <div class="writing">
    <h2>Personal Blog</h2>
    <a href="https://medium.com/@lyddonb/latest">Click here for my full profile and history on Medium</a>
    <div class="posts">
      {% for post in posts %}
      <div class="post">
        <a href="https://medium.com/p/{{ post.id }}">
          {% if post.img_id %}
          <img src="https://cdn-images-1.medium.com/fit/442/248/{{ post.img_id }}" />
          {% endif %}
        </a>
        <div>
          <a href="https://medium.com/p/{{ post.id }}">
            <h3>{{ post.title }}</h3>
          </a>
          <div class="details">
            <div class="sub">{{ post.subtitle }}</div>
            <div class="italic">{{ post.first_published.strftime('%Y-%m-%d') }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="rkwriting">
    <h2>From Real Kinetic</h2>
    <a href="https://medium.com/@beau.lyddon/latest">Click here for my full Real Kinetic profile and history on Medium</a>
    <div class="posts">
      <div class="my">
        <h3>My Posts</h3>
        <ul>
          {% for rkpost in rkposts %}
          <li>
            <div class="imgholder">
              <img src="static/img/writing/rkposts/{{ rkpost["img"] }}" 
                  alt="{{ rkpost["alt"] }}" />
            </div>
            <div class="details">
              <a class="text-xl" href="{{ rkpost["link"] }}">
                {{ rkpost["title"] }}
              </a>
              <p>{{ rkpost["snippet"] }}</p>
              <a class="" href="{{ rkpost["link"] }}">
                Continue Reading ...
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>

{%- endblock -%}
